/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: 'Balsamiq Sans', cursive;
}
h1, h2, h3, h4, h5 {
  font-family: 'Anton', sans-serif;
}
h6 {
  font-family: 'Balsamiq Sans', cursive;
}
.cover {
  height:800px;
  color:white;
  background-image:url(https://i.ibb.co/p6DgPsh/rsz-arian-darvishi-wh-rpfr-3-m-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.cover2 {
  height:950px;
  color:white;
  background-image:url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-position: center;
}


.coverRedes{
  height:950px;
  color:white;
  background-image:url(https://i.ibb.co/wprpdrC/rsz-ilya-pavlov-oqtafyt5ktw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.coverQS {
  height:950px;
  color:white;
  background-image:url(https://i.ibb.co/hy8BJwC/rsz-mimi-thian-8kda2ijsjcu-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.text {
  color: black;
}

.foto {
  width:55%;
  background-size: center;
  background-position: center;
  min-height: 250px; 
  min-width: 250px;
}

.back {
  height:400px;
  color:white;
  background-image:url(https://cdn.glitch.com/d6056b7c-8281-45fa-bfae-f6e112fc42bd%2Fteitta.jpg?v=1589323447030);
  background-size: cover;
  background-position: center;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 1em;
  background-color:black;
  color:white;
}

.card-title {
  min-height: 2rem; 
  position: center;
}

.card-text {
  min-height: 3rem;
}

.stripe-container, .slider-container {
  display: flex;
  
}
.stripe-container .card{
  width:300px;
  flex-shrink:0;
  margin-right:1rem;
}

.position {
  background-size:bottom;
}

.product-stripe, .slider {
  overflow-x: scroll;
  padding-top:1rem;
  padding-bottom:1rem;
  
}

.padding{
  padding-left:1rem;
}

.slider {
  overflow-x:hidden;
  
}
.margin-text {
  margin: 10rem;
  margin-top:15rem;
}

.slider-container {
  transform:translateX(0);
  animation: slider 10s infinite;
}

.image-container{
  width:100%;
  padding-top:56.25%;
  background-size:cover;
  background-position:center;
  flex-shrink:0;
}
